<div class="well">
            <form class="form">
                    <div class="input-append" style="vertical-align: top">
                        <label>Project</label>
                        <input type="text" ng-model="project" class="project" placeholder="Project">
                    </div>
                    <div class="input-append">
                        <label>Issue Description</label>
                        <textarea type="text" ng-model="decription" class="description" placeholder="Give your description" style="width: 400px; height: 100px;"></textarea>
                    </div>
                    <div>
                        <button ng-click="createIssue()" class="btn">Create</button><!-- addComment() -->
                    </div>
            </form>
</div>